#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

trace.info text merge=mps
generated text merge=mps
dependencies text merge=mps
*.mpl text merge=mps
*.msd text merge=mps
*.devkit text merge=mps
*.mpr text merge=mps
*.mpsr text merge=mps
*.model text merge=mps
*.mps text merge=mps
