<div id="search-component">
    <label for="search-box">Room and Leccture Search</label>
    <!--  <input #searchBox id="search-box" (input)="search(searchBox.value)" />-->

    <input #searchBox id="search-box"  type="text" [(ngModel)]="filterBy" placeholder="Filter Rooms and Lectures ..." (keyup)="filter()">

    <div class="flex-container">


        <div class="flex-child magenta">
            <h3>Rooms</h3>
            <ul class="search-result">
                <li *ngFor="let room of filteredRooms">
                    <a routerLink="/room-detail/{{room.roomRef}}">
                        {{room.name}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="flex-child green">
            <h3>Lectures</h3>
            <ul class="search-result">
                <li *ngFor="let lecture of filteredLectures">
                    <a routerLink="/room-detail/{{lecture.lectureRef}}">
                        {{lecture.name}}
                    </a>
                </li>
            </ul>
        </div>

    </div>


    <!--    <li *ngFor="let room of rooms | async" >-->
    <!--      <a routerLink="/room-detail/{{room.roomRef}}">-->
    <!--        {{room.name}}-->
    <!--      </a>-->
    <!--    </li>-->
    <!--    <li *ngFor="let lecture of lectures | async" >-->
    <!--      <a routerLink="/lecture-detail/{{lecture.lectureRef}}">-->
    <!--        {{lecture.name}}-->
    <!--      </a>-->
    <!--    </li>-->


</div>
