/* AppComponent's private CSS styles */
h1 {
    margin-bottom: 0;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}

nav a:hover {
    color: white;
    background-color: #42545C;
}

nav a.active {
    background-color: black;
}

.fold {
    padding: 10px;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.unfolder { display: none; }

.toggle-label {
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}
.unfold-icon, .fold-icon {
    color: #999;
    width: 20px;
    height: 20%;

    display: inline-block;
}
.unfolder ~ .fold {
    display: none;
}
.unfolder ~ label .fold-icon {
    display: none;
}

.unfolder:checked ~ .fold {
    display: block;
}
.unfolder:checked ~ label .fold-icon {
    display: inline-block;
}
.unfolder:checked ~ label .unfold-icon {
    display: none;
}
